<p  *ngIf="!animals" class="text-center text-muted">Sorry, there are no animals to display</p>
<div class="row py-5">
  <div  *ngFor="let animal of animals" class="col-4">
    <a [routerLink]="['/animais', animal.id]" class="text-decoration-none"  >
    <app-animal-card

    >
      <app-animal
      [url]="animal.url"
      [description]="animal.description"
      >
      </app-animal>
      <div class="d-flex gap-3">
        <i aria-hidden="true" class="fa fa-heart-o fa-1x mr-2 text">
        <span class="px-2" >{{ animal.likes }}</span>
        </i>
        <i aria-hidden="true" class="fa fa-comment-o fa-1x mr-2">
        <span class="px-2" >{{ animal.comments }}</span>
        </i>
      </div>
    </app-animal-card>
  </a>
  </div>
</div>
